@import '../../_design-tokens/mixins.scss';

.users__table {
  margin-bottom: 20px;

  &_head-row {
    &:first-child {
      background: #e25644;
      color: #fff;
    }
  }

  &_head-element,
  &_row-element {
    text-align: left;
    padding: 18px;
  }

  &__row {
    background: #fff;
    color: #808080;

    &:nth-child(2n + 2) {
      background: #f5f5f5;
    }

    :hover {
      color: #585858;
      cursor: pointer;
    }
  }
}

.users-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  min-height: 40vh;

  &__posts-btn {
    @include button;
  }
}
