@import '../../_design-tokens/mixins.scss';

.posts {
  display: flex;
  flex-direction: column;
  @include container;

  &__back-btn {
    @include button;

    &:after {
      background-color: rgb(20, 16, 16);
    }
  
    &:before {
      background-color: rgba(73, 62, 62, 0.842);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__user-selector {
    height: 30px;
    border-radius: 5px;
  }

  &__list {
    padding-left: 0;
  }
}