@import '../../_design-tokens/mixins.scss';
@import '../../_design-tokens/variables.scss';

.details-section {
  @include container;

  &__back-btn {
    @include button;

    &:after {
      background-color: rgba(73, 73, 73, 0.986);
    }
  
    &:before {
      background-color: rgb(34, 31, 31);
    }
  }
}

.post {
  background-color: $bgGreyColor;
  border-radius: $borderRadius;
  padding: 10px;
  margin-top: 30px;

  &__title {
    @include boldText700;
    margin-bottom: $marginBottom;
  }

  &__body {
    @include normalText;
    margin-bottom: $marginBottom;
  }

  &__author {
    @include lightText;
  }

  &__comments {
    margin-bottom: $marginBottom;
  }

  &__comments-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  &__edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $marginBottom;
  }

  &__edit {
    &__title {
      @include normalText;
      margin-bottom: $marginBottom;
      width: 98%;
      border: 1px solid grey;
      border-radius: $borderRadius;
    }

    &__body {
      @include normalText;
      font: inherit;
      padding: 3px;
      resize: none;
      min-height: 50px;
      width: 400px;
      margin-bottom: 15px;
      border-radius: $borderRadius;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__delete-btn {
    @include button;
    width: 100%;
    padding: 10px 0;

    &:after {
      background-color: #ff8b3e;
    }
  
    &:before {
      background-color: #F76407;
    }
  }

  &__save-btn {
    @include button;
    border: none;
    z-index: 1;
    width: 100%;
    margin-bottom: $marginBottom;

    &:after {
      background-color: rgb(87, 172, 62);
    }
  
    &:before {
      background-color: rgba(44, 146, 19, 0.842);;
    }
  
    &:hover {
      cursor: pointer;
    }
  }
}

.comment {
  background-color: white;
  margin: $marginBottom 0;
  border-radius: $borderRadius;
  padding: 10px;

  &__name {
    @include boldText600;
  }

  &__body {
    @include normalText;
  }
}