@import '../../_design-tokens/mixins.scss';
@import '../../_design-tokens/variables.scss';

.details-section {
  @include container;

  &__back-btn {
    @include button;
  }
}

.post {
  background-color: $backgroundGrey;
  border-radius: $borderRadius;
  padding: 10px;
  margin-top: 15px;

  &__title {
    @include boldText700;
    margin-bottom: $marginBottom;
  }

  &__body {
    @include normalText;
    margin-bottom: $marginBottom;
  }

  &__author {
    @include lightText;
  }

  &__comments {

  }

  &__comments-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  &__edit-form {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100px;
  }
}

.comment {

  &__name {

  }

  &__body {

  }
}